/*modal */
.itc-slider-items-modal {
  display: flex;
}
.itc-slider-item-modal {
	
  padding-right: 10px;}


.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}


.button-modal a {
	margin-top: 30px;
  text-decoration: none;
	color: #1a1a1f;
	background-color: #fff;
	border: 1px solid #bbb;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	padding: 11px;
	width: 281px;
}

.button-modal a:hover{
	background-color: transparent;
}





.modal-open {
  opacity: 1;
  pointer-events: auto;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: 100%;
}
.itc-slider-item-modal img {
  height: 417px;
}

.itc-about-me-text {
  flex: 0 0 50%;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 680px;
  }
}
.modal-content {
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  margin-left: 0px;
  margin-right: 0px;
}
@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}
.modal-header {
	display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eceeef;

}
.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
}
.close {
  float: right;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  text-decoration: none;
}
.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.75;
}
.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
}
.myfoto {
  display: block;
  width: 100%;
  object-fit: cover;
}
.about-me-img {
  flex: 0 0 50%;
}

.itc-about-me-text h2 {
  padding-bottom: 20px;
}
.about-me {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #f3f3f3;
}
.itc-about-me-block {
  display: flex;
  justify-content: space-between;
}
.itc-about-me-text {
  padding-right: 5%;
}
@media (max-width: 1024px) {
  .about-me {
    padding-top: 50px;
  }
  .itc-slider-item-modal img {
    height: 295px;
  }

  .itc-about-me-block {
    flex-direction: column;
  }
  .itc-about-me-text {
    width: 100%;
    padding-bottom: 30px;
  }
}
@media (max-width: 500px) {
	.container-modal a {
		width: 100%;
	} 
	.container-modal {
      justify-content: center;
  }

	.about-me {
    padding-bottom: 50px;
   
}
}