.accordion-plus {
  padding-top: 100px;
  padding-bottom: 100px;
}
.accordion-plus__items {
  display: flex;
  gap: 50px;
}
.block1 {
  flex: 1 1 50%;
}
.block2 {
  flex: 1 1 50%;
}
.accordion-header {
  margin-bottom: 30px;
}
.accordion-plus__item {
  overflow: hidden;
  border-bottom: 2px solid #e7e7e7;
  margin-bottom: 20px;
}
.ai-plus-header {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.ai-plus-header h3 {
  color: #1c1c1b;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
}
.ai-plus-title {
  margin-left: 24px;
  flex: 1;
}
.ai-arrow-box {
  width: 44px;
  flex: 0 0 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffa401;
  position: relative;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.07);
}
.ai-arrow-box::before,
.ai-arrow-box::after {
  width: 18px;
  height: 2px;
  background-color: #000;
}
.ai-arrow-box::before,
.ai-arrow-box::after {
  content: "";
  display: block;
  position: absolute;
  right: 29%;
  top: 48%;
  transition: 0.05s linear;
}
.ai-arrow-box::after {
  transform: rotate(-90deg);
}
.accordion__item_show .ai-arrow-box::after {
  transform: rotate(0deg);
}
@media (max-width: 1024px) {
  .accordion-plus__items {
    flex-direction: column;
  }
  .accordion-plus__items {
    gap: 0;
  }
  .ai-item {
    padding: 22px 0px 0;
  }
  .ai-plus-title h3 {
    font-size: 18px;
    line-height: 22px;
  }
  .ai-plus-title {
    margin-left: 10px;
  }
  .accordion-plus {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
